@model PreNat.ViewModels.MainActionViewModel
@{
    ViewBag.Title = "Dashboard";

}

<style>
    .form-control{
        border: solid 1px black;
       
    }

    select.form-control, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint {
        padding: 0.4375rem 0.75rem;
        border: 0;
        outline: 1px solid black;
        color: black;
    }
</style>
<h2>Dashboard - Welcome @Model.SignedInUser.Name</h2>
<hr />

<!-- FORMS -->
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <ul class="nav nav-pills nav-pills-custom" id="pills-tab-custom" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-pi-tab-custom" data-toggle="pill" href="#pills-pi" role="tab" aria-controls="pills-pi" aria-selected="true">
                                Patient Identification
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-cop-tab-custom" data-toggle="pill" href="#pills-cop" role="tab" aria-controls="pills-cop" aria-selected="false">
                                Confirmation of Preganancy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-b-tab-custom" data-toggle="pill" href="#pills-b" role="tab" aria-controls="pills-b" aria-selected="false">
                                Background
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-cg-tab-custom" data-toggle="pill" href="#pills-cg" role="tab" aria-controls="pills-cg" aria-selected="false">
                                Current Gestation
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-r-tab-custom" data-toggle="pill" href="#pills-r" role="tab" aria-controls="pills-r" aria-selected="false">
                                Report
                            </a>
                        </li>
                    </ul>
                    <br />
                    <div class="tab-content tab-content-custom-pill" id="pills-tabContent-custom">               
                        <div class="tab-pane fade show active" id="pills-pi" role="tabpanel" aria-labelledby="pills-pi-tab-custom">
                            <form id="patientIdForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" required class="form-control" value="@Model.Name" name="name" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="surnames">Surnames</label>
                                            <input type="text" required class="form-control" value="@Model.Surnames" name="surnames" id="surnames">

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="type_of_identity">Type of Identity</label>
                                            <select required class="form-control" name="type_of_identity" id="type_of_identity">
                                                <option value="Cedula de Ciudadanía" @(Model.Type_of_Identity == "Cedula de Ciudadanía" ? "selected" : "")>Cedula de Ciudadanía</option>
                                                <option value="Cédula de Extranjería" @(Model.Type_of_Identity == "CE" ? "selected" : "")>Cédula de Extranjería</option>
                                                <option value="Tarjeta de Identidad" @(Model.Type_of_Identity == "TI" ? "selected" : "")>Tarjeta de Identidad</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="department_of_residence">Department of Residence</label>
                                            <input type="text" required class="form-control" value="@Model.Department_of_residence" name="department_of_residence" id="department_of_residence">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city_municipality_of_residence">City/Municipality of Residence</label>
                                            <input type="text" required class="form-control" value="@Model.City_Municipality_of_residence" name="city_municipality_of_residence" id="city_municipality_of_residence">
                                        </div>
                                        <div class="form-group">
                                            <label for="address_of_residence">Address of Residence</label>
                                            <input type="text" required class="form-control" value="@Model.Address_of_residence" name="address_of_residence" id="address_of_residence">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="telephones_landline">Telephones (Landline)</label>
                                            <input type="text" required class="form-control" value="@Model.Telephones_Landline" name="telephones_landline" id="telephones_landline">
                                        </div>
                                        <div class="form-group">
                                            <label for="cell_phone">Cell Phone</label>
                                            <input type="text" required class="form-control" value="@Model.Cell_Phone" name="cell_phone" id="cell_phone">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date_of_birth">Date of Birth</label>
                                            <input type="date" class="form-control" value="@Model.Date_of_birth.ToString("MM-dd-yyyy")" name="date_of_birth" id="date_of_birth">
                                        </div>
                                        <div class="form-group">
                                            <label for="age">Age</label>
                                            <input required type="number" class="form-control" value="@Model.Age" name="age" id="age">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="race_dane_information">Race (DANE Information)</label>
                                            <select required class="form-control" name="race_dane_information" id="race_dane_information">
                                                <option value="Black" @(Model.Race_DANE_Information == "Black" ? "selected" : "")>Black (Afro-descendant)</option>
                                                <option value="Mestizo" @(Model.Race_DANE_Information == "Mestizo" ? "selected" : "")>Mestizo</option>
                                                <option value="White" @(Model.Race_DANE_Information == "White" ? "selected" : "")>White</option>
                                                <option value="Indigenous" @(Model.Race_DANE_Information == "Indigenous" ? "selected" : "")>Indigenous</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="ethnicity_dane_information">Ethnicity (DANE Information)</label>
                                            <select required class="form-control" name="ethnicity_dane_information" id="ethnicity_dane_information">
                                                <option value="Palenquera" @(Model.Ethnicity_DANE_Information == "Palenquera" ? "selected" : "")>Palenquera</option>
                                                <option value="Raizal" @(Model.Ethnicity_DANE_Information == "Raizal" ? "selected" : "")>Raizal</option>
                                                <option value="Indigenous" @(Model.Ethnicity_DANE_Information == "Indigenous" ? "selected" : "")>Indigenous</option>
                                                <option value="Gypsy" @(Model.Ethnicity_DANE_Information == "Gypsy" ? "selected" : "")>Gypsy</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="level_of_education">Level of Education</label>
                                            <select required class="form-control" name="level_of_education" id="level_of_education">
                                                <option value="Primary" @(Model.Level_of_Education == "Primary" ? "selected" : "")>Primary</option>
                                                <option value="Bachelor" @(Model.Level_of_Education == "Bachelor" ? "selected" : "")>Bachelor</option>
                                                <option value="Technical" @(Model.Level_of_Education == "Technical" ? "selected" : "")>Technical</option>
                                                <option value="Professional" @(Model.Level_of_Education == "Professional" ? "selected" : "")>Professional</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="marital_status">Marital Status</label>
                                            <select required class="form-control" name="marital_status" id="marital_status">
                                                <option value="Married" @(Model.Marital_status == "Married" ? "selected" : "")>Married</option>
                                                <option value="Single" @(Model.Marital_status == "Single" ? "selected" : "")>Single</option>
                                                <option value="Separated" @(Model.Marital_status == "Separated" ? "selected" : "")>Separated</option>
                                                <option value="Free Union" @(Model.Marital_status == "Free Union" ? "selected" : "")>Free Union</option>
                                                <option value="Divorced" @(Model.Marital_status == "Divorced" ? "selected" : "")>Divorced</option>
                                                <option value="Widowed" @(Model.Marital_status == "Widowed" ? "selected" : "")>Widowed</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="affiliation_regime">Affiliation Regime</label>
                                            <select required class="form-control" name="affiliation_regime" id="affiliation_regime">
                                                <option value="Subsidized" @(Model.Affiliation_regime == "Subsidized" ? "selected" : "")>Subsidized</option>
                                                <option value="Contributory" @(Model.Affiliation_regime == "Contributory" ? "selected" : "")>Contributory</option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="eps_ips">EPS/IPS</label>
                                            <input type="text" required class="form-control" value="@Model.EPS_IPS" name="eps_ips" id="eps_ips">
                                        </div>
                                    </div>
                                </div>


                                
                            </form>

                            <button type="button" id="PatientIDActionBtn" class="btn btn-primary" >
                                Save and Continue
                            </button>
                        </div>
                       
                               
                        <div class="tab-pane fade" id="pills-cop" role="tabpanel" aria-labelledby="pills-cop-tab-custom">
                            <form id="pocForm">


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="fum">FUM</label>
                                            <input type="date" class="form-control" value="@Model.FUM.ToString("MM-dd-yyyy")" name="FUM" id="FUM">
                                        </div>
                                        <div class="form-group">
                                            <label for="age">Age</label>
                                            <input required type="text" class="form-control" value="@Model.WeeksPregnant" name="WeeksPregnant" id="WeeksPregnant">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date_of_birth">Positive HCG Presence</label>
                                            <input type="date" class="form-control" value="@Model.Positive_HCG_presence_Date.ToString("MM-dd-yyyy")" name="Positive_HCG_presence_Date" id="Positive_HCG_presence_Date">
                                        </div>
                                        <div class="form-group">
                                            <label>Attachment</label>
                                            <input class="form-control" value="@Model.Upload_document1" name="Upload_document1" id="Upload_document1" type="hidden" />
                                            <input class="form-control" id="FileAttachmentUpload" name="FileAttachmentUpload" type="file" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date_of_birth">Positive TV Ultrasound Date</label>
                                            <input type="date" class="form-control" value="@Model.Positive_TV_ultrasound_Date.ToString("MM-dd-yyyy")" name="Positive_TV_ultrasound_Date" id="Positive_TV_ultrasound_Date">
                                        </div>
                                        <div class="form-group">
                                            <label>Attachment</label>
                                            <input class="form-control" value="@Model.Upload_document2" name="Upload_document2" id="Upload_document2" type="hidden" />
                                            <input class="form-control" id="FileAttachmentUpload2" name="FileAttachmentUpload2" type="file" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="affiliation_regime">Pregnancy Confirm</label>
                                        <select required class="form-control" name="PregnancyConfirm" id="PregnancyConfirm">
                                            <option value="Yes" @(Model.PregnancyConfirm == "Yes" ? "selected" : "")>Yes</option>
                                            <option value="No" @(Model.PregnancyConfirm == "No" ? "selected" : "")>No</option>
                                        </select>
                                    </div>
                                </div>






                            </form>

                            <button type="button" id="PregConfirmActionBtn" class="btn btn-primary">
                                Save and Continue
                            </button>
                        </div>
                       
                        
                        
                        
                        <div class="tab-pane fade" id="pills-b" role="tabpanel" aria-labelledby="pills-b-tab-custom">
                            
                        </div>
                        
                        
                        
                        <div class="tab-pane fade" id="pills-cg" role="tabpanel" aria-labelledby="pills-cg-tab-custom">
                            
                        </div>
               
                        
                        
                        
                
                        <div class="tab-pane fade" id="pills-r" role="tabpanel" aria-labelledby="pills-r-tab-custom">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script src="~/Content/template/js/tabs.js"></script>

<script>

    $("#FileAttachmentUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("FileAttachment", file);
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadDoc", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                if (response.Success) {
                    $("#Upload_document1").val(response.DocURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });



    $("#FileAttachmentUpload2").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("FileAttachment", file);
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadDoc", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                if (response.Success) {
                    $("#Upload_document2").val(response.DocURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });


    $("#PatientIDActionBtn").click(function () {
        const form = document.getElementById('patientIdForm');
        const requiredInputs = form.querySelectorAll('input[required], select[required]');
        let isValid = true;
        requiredInputs.forEach(function (input) {
            if (input.value.trim() === '') {
                input.classList.add('is-invalid');
                isValid = false;
            } else {
                input.classList.remove('is-invalid');
            }
        });


        // If any required field is empty, prevent the form from being submitted
        if (!isValid) {
            alert("All Fields are mandatory");
            return false;
        } else {

            $.ajax({
                url: '@Url.Action("MainAction", "Patient")',
                type: "post",
                data: $("#patientIdForm").serialize()
            })
                .done(function (result) {
                    if (result.success) {
                        alert("Saved Successfully!!");


                        var activeTab = document.querySelector(".nav-pills .nav-link.active").parentNode;

                        // get the next tab
                        var nextTab = activeTab.nextElementSibling;

                        // activate the next tab
                        if (nextTab) {
                            var tabLink = nextTab.querySelector(".nav-link");
                            tabLink.click();
                        }
                    } else {
                        alert("Data Didn't Saved!!!!");
                    }
                    @*window.location.href = "@Url.Action("Index","Immunizations")";*@

                });
        }
	});



    $("#PregConfirmActionBtn").click(function () {
        const form = document.getElementById('pocForm');
        const requiredInputs = form.querySelectorAll('input[required], select[required]');
        let isValid = true;
        requiredInputs.forEach(function (input) {
            if (input.value.trim() === '') {
                input.classList.add('is-invalid');
                isValid = false;
            } else {
                input.classList.remove('is-invalid');
            }
        });


        // If any required field is empty, prevent the form from being submitted
        if (!isValid) {
            alert("All Fields are mandatory");
            return false;
        } else {

            $.ajax({
                url: '@Url.Action("MainAction", "PregnancyConfirmation")',
                type: "post",
                data: $("#pocForm").serialize()
            })
                .done(function (result) {
                    if (result.success) {
                        alert("Saved Successfully!!");


                        var activeTab = document.querySelector(".nav-pills .nav-link.active").parentNode;

                        // get the next tab
                        var nextTab = activeTab.nextElementSibling;

                        // activate the next tab
                        if (nextTab) {
                            var tabLink = nextTab.querySelector(".nav-link");
                            tabLink.click();
                        }
                    } else {
                        alert("Data Didn't Saved!!!!");
                    }

                });
        }
	});




    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });

</script>

