@model PreNat.ViewModels.MainActionViewModel
@{
    ViewBag.Title = "Dashboard";

}

<style>
    .form-control {
        border: solid 1px black;
        height: 40px;
    }


    .form-check text-center {
        position: relative;
        display: block;
        width: 160px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .form-check {
        position: relative;
        display: block;
        width: 160px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;    
    }
    .form-select {
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        --moz-padding-start: calc(0.75rem - 3px);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid black;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        appearance: none;
    }
</style>
<h2>Dashboard - Welcome @Model.SignedInUser.Name</h2>
<hr />

<!-- FORMS -->
<div class="col-12">
    <div class="card">
        
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    @if (@Session["PatientID"] != null)
                    {
                        <input type="hidden" id="PatientID" value="@Session["PatientID"].ToString()" />
                        <ul class="nav nav-pills nav-pills-custom" id="pills-tab-custom" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-pi-tab-custom" data-bs-toggle="pill" href="#pills-pi" role="tab" aria-bs-controls="pills-pi" aria-bs-selected="true">
                                    Patient Identification
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-cop-tab-custom" data-bs-toggle="pill" href="#pills-cop" role="tab" aria-bs-controls="pills-cop" aria-bs-selected="false">
                                    Confirmation of Preganancy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-b-tab-custom" data-bs-toggle="pill" href="#pills-b" role="tab" aria-bs-controls="pills-b" aria-bs-selected="false">
                                    Background
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-cg-tab-custom" data-bs-toggle="pill" href="#pills-cg" role="tab" aria-bs-controls="pills-cg" aria-bs-selected="false">
                                    Current Gestation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-r-tab-custom" data-bs-toggle="pill" href="#pills-r" role="tab" aria-bs-controls="pills-r" aria-bs-selected="false">
                                    Report
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <input type="hidden" id="PatientID" value="" />
                        <ul class="nav nav-pills nav-pills-custom" id="pills-tab-custom" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-pi-tab-custom" data--toggle="pill" href="#pills-pi" role="tab" aria-controls="pills-pi" aria-selected="true">
                                    Patient Identification
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-cop-tab-custom" data-toggle="pill" href="#pills-cop" role="tab" aria-controls="pills-cop" aria-selected="false">
                                    Confirmation of Preganancy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-b-tab-custom" data-toggle="pill" href="#pills-b" role="tab" aria-controls="pills-b" aria-selected="false">
                                    Background
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-cg-tab-custom" data-toggle="pill" href="#pills-cg" role="tab" aria-controls="pills-cg" aria-selected="false">
                                    Current Gestation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-r-tab-custom" data-toggle="pill" href="#pills-r" role="tab" aria-controls="pills-r" aria-selected="false">
                                    Report
                                </a>
                            </li>
                        </ul>
                    }


                    <br />
                    <div class="tab-content tab-content-custom-pill" id="pills-tabContent-custom">
                        <div class="tab-pane fade show active" id="pills-pi" role="tabpanel" aria-labelledby="pills-pi-tab-custom">
                            <form id="patientIdForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" required class="form-control" value="@Model.Name" name="name" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="surnames">Surnames</label>
                                            <input type="text" required class="form-control" value="@Model.Surnames" name="surnames" id="surnames">

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="type_of_identity">Type of Identity</label>
                                            <select required class="form-select" name="type_of_identity" id="type_of_identity">
                                                <option value="Cedula de Ciudadanía" @(Model.Type_of_Identity == "Cedula de Ciudadanía" ? "selected" : "")>Cedula de Ciudadanía</option>
                                                <option value="Cédula de Extranjería" @(Model.Type_of_Identity == "CE" ? "selected" : "")>Cédula de Extranjería</option>
                                                <option value="Tarjeta de Identidad" @(Model.Type_of_Identity == "TI" ? "selected" : "")>Tarjeta de Identidad</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="department_of_residence">Department of Residence</label>
                                            <input type="text" required class="form-control" value="@Model.Department_of_residence" name="department_of_residence" id="department_of_residence">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city_municipality_of_residence">City/Municipality of Residence</label>
                                            <input type="text" required class="form-control" value="@Model.City_Municipality_of_residence" name="city_municipality_of_residence" id="city_municipality_of_residence">
                                        </div>
                                        <div class="form-group">
                                            <label for="address_of_residence">Address of Residence</label>
                                            <input type="text" required class="form-control" value="@Model.Address_of_residence" name="address_of_residence" id="address_of_residence">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="telephones_landline">Telephones (Landline)</label>
                                            <input type="text" required class="form-control" value="@Model.Telephones_Landline" name="telephones_landline" id="telephones_landline">
                                        </div>
                                        <div class="form-group">
                                            <label for="cell_phone">Cell Phone</label>
                                            <input type="text" required class="form-control" value="@Model.Cell_Phone" name="cell_phone" id="cell_phone">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date_of_birth">Date of Birth</label>
                                            <input type="date" class="form-control" value="@Model.Date_of_birth.ToString("MM-dd-yyyy")" name="date_of_birth" id="date_of_birth">
                                        </div>
                                        <div class="form-group">
                                            <label for="age">Age</label>
                                            <input required type="number" class="form-control" value="@Model.Age" name="age" id="age">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="race_dane_information">Race (DANE Information)</label>
                                            <select required class="form-select" name="race_dane_information" id="race_dane_information">
                                                <option value="Black" @(Model.Race_DANE_Information == "Black" ? "selected" : "")>Black (Afro-descendant)</option>
                                                <option value="Mestizo" @(Model.Race_DANE_Information == "Mestizo" ? "selected" : "")>Mestizo</option>
                                                <option value="White" @(Model.Race_DANE_Information == "White" ? "selected" : "")>White</option>
                                                <option value="Indigenous" @(Model.Race_DANE_Information == "Indigenous" ? "selected" : "")>Indigenous</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="ethnicity_dane_information">Ethnicity (DANE Information)</label>
                                            <select required class="form-select" name="ethnicity_dane_information" id="ethnicity_dane_information">
                                                <option value="Palenquera" @(Model.Ethnicity_DANE_Information == "Palenquera" ? "selected" : "")>Palenquera</option>
                                                <option value="Raizal" @(Model.Ethnicity_DANE_Information == "Raizal" ? "selected" : "")>Raizal</option>
                                                <option value="Indigenous" @(Model.Ethnicity_DANE_Information == "Indigenous" ? "selected" : "")>Indigenous</option>
                                                <option value="Gypsy" @(Model.Ethnicity_DANE_Information == "Gypsy" ? "selected" : "")>Gypsy</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="level_of_education">Level of Education</label>
                                            <select required class="form-select" name="level_of_education" id="level_of_education">
                                                <option value="Primary" @(Model.Level_of_Education == "Primary" ? "selected" : "")>Primary</option>
                                                <option value="Bachelor" @(Model.Level_of_Education == "Bachelor" ? "selected" : "")>Bachelor</option>
                                                <option value="Technical" @(Model.Level_of_Education == "Technical" ? "selected" : "")>Technical</option>
                                                <option value="Professional" @(Model.Level_of_Education == "Professional" ? "selected" : "")>Professional</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="marital_status">Marital Status</label>
                                            <select required class="form-select" name="marital_status" id="marital_status">
                                                <option value="Married" @(Model.Marital_status == "Married" ? "selected" : "")>Married</option>
                                                <option value="Single" @(Model.Marital_status == "Single" ? "selected" : "")>Single</option>
                                                <option value="Separated" @(Model.Marital_status == "Separated" ? "selected" : "")>Separated</option>
                                                <option value="Free Union" @(Model.Marital_status == "Free Union" ? "selected" : "")>Free Union</option>
                                                <option value="Divorced" @(Model.Marital_status == "Divorced" ? "selected" : "")>Divorced</option>
                                                <option value="Widowed" @(Model.Marital_status == "Widowed" ? "selected" : "")>Widowed</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="affiliation_regime">Affiliation Regime</label>
                                            <select required class="form-select" name="affiliation_regime" id="affiliation_regime">
                                                <option value="Subsidized" @(Model.Affiliation_regime == "Subsidized" ? "selected" : "")>Subsidized</option>
                                                <option value="Contributory" @(Model.Affiliation_regime == "Contributory" ? "selected" : "")>Contributory</option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="eps_ips">EPS/IPS</label>
                                            <input type="text" required class="form-control" value="@Model.EPS_IPS" name="eps_ips" id="eps_ips">
                                        </div>
                                    </div>
                                </div>



                            </form>

                            <button type="button" id="PatientIDActionBtn" class="btn btn-primary">
                                Save and Continue
                            </button>
                        </div>


                        <div class="tab-pane fade" id="pills-cop" role="tabpanel" aria-labelledby="pills-cop-tab-custom">
                            <form id="pocForm">


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="fum">FUM</label>
                                            <input type="date" class="form-control" value="@Model.FUM.ToString("MM-dd-yyyy")" name="FUM" id="FUM">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="age">Weeks Pregnant</label>
                                            <input required type="text" class="form-control" value="@Model.WeeksPregnant" name="WeeksPregnant" id="WeeksPregnant">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date_of_birth">Positive HCG Presence</label>
                                            <input type="date" class="form-control" value="@Model.Positive_HCG_presence_Date.ToString("MM-dd-yyyy")" name="Positive_HCG_presence_Date" id="Positive_HCG_presence_Date">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Attachment</label>
                                            <input class="form-control" value="@Model.Upload_document1" name="Upload_document1" id="Upload_document1" type="hidden" />
                                            <input class="form-control" id="FileAttachmentUpload" name="FileAttachmentUpload" type="file" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date_of_birth">Positive TV Ultrasound Date</label>
                                            <input type="date" class="form-control" value="@Model.Positive_TV_ultrasound_Date.ToString("MM-dd-yyyy")" name="Positive_TV_ultrasound_Date" id="Positive_TV_ultrasound_Date">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Attachment</label>
                                            <input class="form-control" value="@Model.Upload_document2" name="Upload_document2" id="Upload_document2" type="hidden" />
                                            <input class="form-control" id="FileAttachmentUpload2" name="FileAttachmentUpload2" type="file" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="affiliation_regime">Pregnancy Confirm</label>
                                        <select required class="form-select" name="PregnancyConfirm" id="PregnancyConfirm">
                                            <option value="Yes" @(Model.PregnancyConfirm == "Yes" ? "selected" : "")>Yes</option>
                                            <option value="No" @(Model.PregnancyConfirm == "No" ? "selected" : "")>No</option>
                                        </select>
                                    </div>

                                </div>






                            </form>
                            <br />
                            <button type="button" id="PregConfirmActionBtn" class="btn btn-primary">
                                Save and Continue
                            </button>
                        </div>




                        <div class="tab-pane fade" id="pills-b" role="tabpanel" aria-labelledby="pills-b-tab-custom">
                            <form id="backgroundForm">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <td>
                                                    Generaal Pathologies
                                                </td>
                                                <td>
                                                    Absence of Pathologies
                                                </td>
                                                <td>
                                                    Family
                                                </td>
                                                <td>
                                                    Personal
                                                </td>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Tbc
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="tbc-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="tbc-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="tbc-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Tbc" name="Tbc" value="@Model.Tbc" /></td>
                                            <tr>
                                                <td>
                                                    Diabetes
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="diabetes-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="diabetes-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="diabetes-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Diabetes" name="Diabetes" value="@Model.Diabetes" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Hypertension
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="hypertension-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="hypertension-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="hypertension-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Hypertension" name="Hypertension" value="@Model.Hypertension" /></td>


                                            </tr>

                                            <tr>
                                                <td>
                                                    Eclampsia
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="eclampsia-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="eclampsia-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="eclampsia-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Eclampsia" name="Eclampsia" value="@Model.Eclampsia" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Preeclampsia
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="preeclampsia-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="preeclampsia-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="preeclampsia-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Preeclampsia" name="Preeclampsia" value="@Model.Preeclampsia" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Surgery
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="surgery-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="surgery-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="surgery-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Surgery" name="Surgery" value="@Model.Surgery" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Infertility
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="infertility-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="infertility-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="infertility-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Infertility" name="Infertility" value="@Model.Infertility" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Cardiopathy
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="cardiopathy-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="cardiopathy-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="cardiopathy-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Cardiopathy" name="Cardiopathy" value="@Model.Cardiopathy" /></td>

                                            </tr>


                                            <tr>
                                                <td>
                                                    Nephropathy
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="nephropathy-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="nephropathy-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="nephropathy-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Nephropathy" name="Nephropathy" value="@Model.Nephropathy" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Violence
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="violence-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="violence-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="violence-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Violence" name="Violence" value="@Model.Violence" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    HIV+
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="hiv-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="hiv-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="hiv-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="HIV" name="HIV" value="@Model.HIV" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Migraine
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="migraine-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="migraine-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="migraine-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Migraine" name="Migraine" value="@Model.Migraine" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Thromboembolic
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="thromboembolic-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="thromboembolic-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="thromboembolic-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Thromboembolic" name="Thromboembolic" value="@Model.Thromboembolic" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    BMI > 29
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="bmi_29-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="bmi_29-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="bmi_29-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="BMI_29" name="BMI_29" value="@Model.BMI_29" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    BMI > 39.5
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="bmi_39-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="bmi_39-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="bmi_39-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="BMI_39" name="BMI_39" value="@Model.BMI_39" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Disc. Sang.
                                                </td>
                                                <td><input class="form-check text-center" type="checkbox" id="discsang-absent-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="discsang-present-family-checkbox"></td>
                                                <td><input class="form-check text-center" type="checkbox" id="discsang-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Disc_Sang" name="Disc_Sang" value="@Model.Disc_Sang" /></td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Other Medical Condition Which one?
                                                </td>
                                                <td><input class="form-control" type="text" onchange="DisplayValues()" id="other-absent-checkbox"></td>
                                                <td><input class="form-control" type="text" onchange="DisplayValues()" id="other-present-family-checkbox"></td>
                                                <td><input class="form-control" type="text" onchange="DisplayValues()" id="other-present-personally-checkbox"></td>
                                                <td hidden><input type="hidden" required id="Other" name="Other" value="@Model.Other" /></td>

                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </form>

                            <button type="button" id="BackgroundActionBtn" class="btn btn-primary">
                                Save and Continue
                            </button>
                        </div>



                        <div class="tab-pane fade" id="pills-cg" role="tabpanel" aria-labelledby="pills-cg-tab-custom">

                        </div>





                        <div class="tab-pane fade" id="pills-r" role="tabpanel" aria-labelledby="pills-r-tab-custom">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script src="~/Content/template/js/tabs.js"></script>

<script>

    function DisplayValues() {
        var textbox1 = document.getElementById("other-absent-checkbox").value;
        var textbox2 = document.getElementById("other-present-family-checkbox").value;
        var textbox3 = document.getElementById("other-present-personally-checkbox").value;
        var output = document.getElementById("Other");

        output.value = textbox1 + ", " + textbox2 + ", " + textbox3;
    }



    var patientID = $("#PatientID").val();
    $(document).ready(function () {
        if (patientID != null && patientID != "") {

        }
    })
    $("#FileAttachmentUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("FileAttachment", file);
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadDoc", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                if (response.Success) {
                    $("#Upload_document1").val(response.DocURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });
    $("#FileAttachmentUpload2").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("FileAttachment", file);
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadDoc", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                if (response.Success) {
                    $("#Upload_document2").val(response.DocURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });
    $("#PatientIDActionBtn").click(function () {
    const form = document.getElementById('patientIdForm');
    const requiredInputs = form.querySelectorAll('input[required], select[required]');
    let isValid = true;
    requiredInputs.forEach(function (input) {
        if (input.value.trim() === '') {
            input.classList.add('is-invalid');
            isValid = false;
        } else {
            input.classList.remove('is-invalid');
        }
    });

    // If any required field is empty, prevent the form from being submitted
    if (!isValid) {
        alert("All Fields are mandatory");
        return false;
    } else {
        $.ajax({
            url: '@Url.Action("MainAction", "Patient")',
            type: "post",
            data: $("#patientIdForm").serialize()
        })
            .done(function (result) {
                if (result.success) {
                    alert("Saved Successfully!!");

                    var activeTab = document.querySelector(".nav-pills .nav-link.active").parentNode;

                    // get the next tab
                    var nextTab = activeTab.nextElementSibling;

                    // activate the next tab
                    if (nextTab) {
                        var tabLink = nextTab.querySelector(".nav-link");
                        if (tabLink) {
                            var activeTabLink = activeTab.querySelector('.nav-link.active');
                            var nextTabLink = nextTab.querySelector('.nav-link');
                            activeTabLink.classList.remove('active');
                            nextTabLink.classList.add('active');



                            // To remove classes
                            $('.tab-pane.active.show').removeClass('active show');

                            tabLink.click();
                            $("#pills-cop").addClass('active show');
                        }
                    }
                    else {
                        alert("Data Didn't Saved!!!!");
                    }
                }
            });
    }
});
    $("#PregConfirmActionBtn").click(function () {
        const form = document.getElementById('pocForm');
        const requiredInputs = form.querySelectorAll('input[required], select[required]');
        let isValid = true;
        requiredInputs.forEach(function (input) {
            if (input.value.trim() === '') {
                input.classList.add('is-invalid');
                isValid = false;
            } else {
                input.classList.remove('is-invalid');
            }
        });

        // If any required field is empty, prevent the form from being submitted
        if (!isValid) {
            alert("All Fields are mandatory");
            return false;
        } else {
            $.ajax({
                url: '@Url.Action("MainAction", "PregnancyConfirmation")',
                type: "post",
                data: $("#pocForm").serialize()
            })
                .done(function (result) {
                    if (result.success) {
                        alert("Saved Successfully!!");
                        var activeTab = document.querySelector(".nav-pills .nav-link.active").parentNode;

                        // get the next tab
                        var activeTab = document.querySelector(".nav-pills .nav-link.active").parentNode;

                        // get the next tab
                        var nextTab = activeTab.nextElementSibling;

                        // activate the next tab
                        if (nextTab) {
                            var tabLink = nextTab.querySelector(".nav-link");
                            if (tabLink) {
                                var activeTabLink = activeTab.querySelector('.nav-link.active');
                                var nextTabLink = nextTab.querySelector('.nav-link');
                                activeTabLink.classList.remove('active');
                                nextTabLink.classList.add('active');



                                // To remove classes
                                $('.tab-pane.active.show').removeClass('active show');

                                tabLink.click();
                                $("#pills-b").addClass('active show');
                            }
                        } else {
                            alert("Data Didn't Saved!!!!");
                        }
                    }
                });
        }
    });
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });


    $("#BackgroundActionBtn").click(function () {
        const form = document.getElementById('backgroundForm');
        const requiredInputs = form.querySelectorAll('input[required]');
        let isValid = true;
        requiredInputs.forEach(function (input) {
            if (input.value.trim() === '') {
                input.classList.add('is-invalid');
                isValid = false;
            } else {
                input.classList.remove('is-invalid');
            }
        });

        // If any required field is empty, prevent the form from being submitted
        if (!isValid) {
            alert("All Fields are mandatory");
            return false;
        } else {
            $.ajax({
                url: '@Url.Action("MainAction", "Background")',
                type: "post",
                data: $("#backgroundForm").serialize()
            })
                .done(function (result) {
                    if (result.success) {
                        alert("Saved Successfully!!");
                        var activeTab = document.querySelector(".nav-pills .nav-link.active").parentNode;

                        // get the next tab
                        var activeTab = document.querySelector(".nav-pills .nav-link.active").parentNode;

                        // get the next tab
                        var nextTab = activeTab.nextElementSibling;

                        // activate the next tab
                        if (nextTab) {
                            var tabLink = nextTab.querySelector(".nav-link");
                            if (tabLink) {
                                var activeTabLink = activeTab.querySelector('.nav-link.active');
                                var nextTabLink = nextTab.querySelector('.nav-link');
                                activeTabLink.classList.remove('active');
                                nextTabLink.classList.add('active');



                                // To remove classes
                                $('.tab-pane.active.show').removeClass('active show');

                                tabLink.click();
                                $("#pills-cg").addClass('active show');
                            }
                        } else {
                            alert("Data Didn't Saved!!!!");
                        }
                    }
                });
        }
    });


    //Background JS
    $(document).ready(function () {
        // TBC
        $('#tbc-absent-checkbox, #tbc-present-family-checkbox, #tbc-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#tbc-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#tbc-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#tbc-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Tbc').val(diseaseName);
        });


        // Diabetes
        $('#diabetes-absent-checkbox, #diabetes-present-family-checkbox, #diabetes-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#diabetes-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#diabetes-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#diabetes-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Diabetes').val(diseaseName);
        });

        // Hypertension
        $('#hypertension-absent-checkbox, #hypertension-present-family-checkbox, #hypertension-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#hypertension-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#hypertension-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#hypertension-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Hypertension').val(diseaseName);
        });

        // Eclampsia
        $('#eclampsia-absent-checkbox, #eclampsia-present-family-checkbox, #eclampsia-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#eclampsia-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#eclampsia-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#eclampsia-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Eclampsia').val(diseaseName);
        });

        // Preeclampsia
        $('#preeclampsia-absent-checkbox, #preeclampsia-present-family-checkbox, #preeclampsia-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#preeclampsia-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#preeclampsia-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#preeclampsia-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Preeclampsia').val(diseaseName);
        });

        // Surgery
        $('#surgery-absent-checkbox, #surgery-present-family-checkbox, #surgery-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#surgery-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#surgery-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#surgery-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Surgery').val(diseaseName);
        });

        // Infertility
        $('#infertility-absent-checkbox, #infertility-present-family-checkbox, #infertility-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#infertility-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#infertility-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#infertility-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Infertility').val(diseaseName);
        });

// Cardiopathy
        $('#cardiopathy-absent-checkbox, #cardiopathy-present-family-checkbox, #cardiopathy-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#cardiopathy-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#cardiopathy-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#cardiopathy-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Cardiopathy').val(diseaseName);
        });

        // Nephropathy
        $('#nephropathy-absent-checkbox, #nephropathy-present-family-checkbox, #nephropathy-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#nephropathy-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#nephropathy-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#nephropathy-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Nephropathy').val(diseaseName);
        });

        // Violence
        $('#violence-absent-checkbox, #violence-present-family-checkbox, #violence-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#violence-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#violence-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#violence-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Violence').val(diseaseName);
        });

        // HIV
        $('#hiv-absent-checkbox, #hiv-present-family-checkbox, #hiv-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#hiv-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#hiv-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#hiv-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#HIV').val(diseaseName);
        });

        // Migraine
        $('#migraine-absent-checkbox, #migraine-present-family-checkbox, #migraine-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#migraine-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#migraine-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#migraine-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Migraine').val(diseaseName);
        });

        // Thromboembolic
        $('#thromboembolic-absent-checkbox, #thromboembolic-present-family-checkbox, #thromboembolic-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#thromboembolic-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#thromboembolic-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#thromboembolic-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Thromboembolic').val(diseaseName);
        });

        // BMI 29
        $('#bmi_29-absent-checkbox, #bmi_29-present-family-checkbox, #bmi_29-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#bmi_29-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#bmi_29-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#bmi_29-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#BMI_29').val(diseaseName);
        });

        // BMI 39
        $('#bmi_39-absent-checkbox, #bmi_39-present-family-checkbox, #bmi_39-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#bmi_39-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#bmi_39-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#bmi_39-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#BMI_39').val(diseaseName);
        });

        // Disc Sang
        $('#discsang-absent-checkbox, #discsang-present-family-checkbox, #discsang-present-personally-checkbox').click(function () {
            var diseaseName = '';
            if ($('#discsang-absent-checkbox').is(':checked')) {
                diseaseName += ',Absent';
            }
            if ($('#discsang-present-family-checkbox').is(':checked')) {
                diseaseName += ', Family';
            }
            if ($('#discsang-present-personally-checkbox').is(':checked')) {
                diseaseName += ', Personally';
            }
            $('#Disc_Sang').val(diseaseName);
        });






    });

</script>

