@model PreNat.ViewModels.BackgroundActionViewModel

@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Background</span>
                }
                else
                {
                    <span>Save Background</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Tbc" value="@Model.Tbc" name="Tbc" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Diabetes" value="@Model.Diabetes" name="Diabetes" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Hypertension" value="@Model.Hypertension" name="Hypertension" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Eclampsia" value="@Model.Eclampsia" name="Eclampsia" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Preeclampsia" value="@Model.Preeclampsia" name="Preeclampsia" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Surgery" value="@Model.Surgery" name="Surgery" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Infertility" value="@Model.Infertility" name="Infertility" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Cardiopathy" value="@Model.Cardiopathy" name="Cardiopathy" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Nephropathy" value="@Model.Nephropathy" name="Nephropathy" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Violence" value="@Model.Violence" name="Violence" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="VIH" value="@Model.VIH" name="VIH" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Migraine" value="@Model.Migraine" name="Migraine" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Enf_Tromboembólica" value="@Model.Enf_Tromboembólica" name="Enf_Tromboembólica" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="IMC29" value="@Model.IMC29" name="IMC29" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="IMC39" value="@Model.IMC39" name="IMC39" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="Disc_Sang" value="@Model.Disc_Sang" name="Disc_Sang" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Background</label>
                            <input required class="form-control" id="other_dises" value="@Model.other_dises" name="other_dises" placeholder="Enter Name">
                        </div>



                    </div>
                </div>
                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("Index","Background")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>






    <div class="errorDiv">

    </div>

}


<script>
    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "Background")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("Index","Background")";

		});
	});
</script>
