@model PreNat.ViewModels.LaboratoryTestsActionViewModel

@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit LaboratoryTests</span>
                }
                else
                {
                    <span>Save LaboratoryTests</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">LaboratoryTests</label>
                            <input required class="form-control" id="Group" value="@Model.Group" name="Group" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">LaboratoryTests</label>
                            <input required class="form-control" id="SanguineoGroup" value="@Model.SanguineoGroup" name="SanguineoGroup" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">LaboratoryTests</label>
                            <input required class="form-control" id="Laboratory_Tests" value="@Model.Laboratory_Tests" name="Laboratory_Tests" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">LaboratoryTests</label>
                            <input required class="form-control" id="VDRL" value="@Model.VDRL" name="VDRL" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">LaboratoryTests</label>
                            <input required class="form-control" id="Syphilis" value="@Model.Syphilis" name="Syphilis" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">LaboratoryTests</label>
                            <input required class="form-control" id="VIH_L" value="@Model.VIH_L" name="VIH_L" placeholder="Enter Name">
                        </div>
                       


                    </div>
                </div>        
                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("Index","LaboratoryTests")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>




    <div class="errorDiv">

    </div>

}


<script>
    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "LaboratoryTests")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("Index","LaboratoryTests")";

		});
	});
</script>
