@model PreNat.ViewModels.PsychosocialAssessmentListingViewModel
@{
    ViewBag.Title = "_Listing";
}


<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model.PsychosocialAssessments.Count() != 0)
        {
            <div class="card">

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>

                               
                                <th>
                                    SmokerActive
                                </th>
                                <th>
                                    PassiveSmoking
                                </th>
                                <th>ConsumeAlcohol</th>
                                <th>ConsumeAlucinogenos</th>
                                <th>DomesticViolence</th>
                               


                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PsychosocialAssessments)
                            {
                            <tr>

                                <td>@item.SmokerActive</td>
                                <td>@item.PassiveSmoking</td>
                                <td>@item.ConsumeAlcohol</td>
                                <td>@item.ConsumeAlucinogenos</td>
                                <td>@item.DomesticViolence</td>
                             


                                <td>
                                    <button data-id="@item.ID" type="button" class="btnEdit btn btn-info btn-icon-text"><i class="mdi mdi-pencil"></i> EDIT</button>
                                    <button data-href="@Url.Action("Delete", "PsychosocialAssessment", new { ID = item.ID })" type="button" class="data-btn btn btn-danger btn-icon-text"><i class="mdi mdi-delete"></i>DELETE</button>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<script>
    $(".btnEdit").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "PsychosocialAssessment")',
            type: "GET",
            data: {ID: $(this).attr("data-id") }
        })
            .done(function (oData) {
                $("#actionContainer").html(oData);
            })
            .error(function (error) {
                alert(error);
            })
    })


</script>
