@model PreNat.ViewModels.PsychosocialAssessmentActionViewModel

@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit PsychosocialAssessment</span>
                }
                else
                {
                    <span>Save PsychosocialAssessment</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">PsychosocialAssessment</label>
                            <input required class="form-control" id="SmokerActive" value="@Model.SmokerActive" name="SmokerActive" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">PsychosocialAssessment</label>
                            <input required class="form-control" id="PassiveSmoking" value="@Model.PassiveSmoking" name="PassiveSmoking" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">PsychosocialAssessment</label>
                            <input required class="form-control" id="ConsumeAlcohol" value="@Model.ConsumeAlcohol" name="ConsumeAlcohol" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">PsychosocialAssessment</label>
                            <input required class="form-control" id="ConsumeAlucinogenos" value="@Model.ConsumeAlucinogenos" name="ConsumeAlucinogenos" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">PsychosocialAssessment</label>
                            <input required class="form-control" id="DomesticViolence" value="@Model.DomesticViolence" name="DomesticViolence" placeholder="Enter Name">
                        </div>
                       



                    </div>
                </div>        
                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("Index","PsychosocialAssessment")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>






    <div class="errorDiv">

    </div>

}


<script>
    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "PsychosocialAssessment")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("Index","PsychosocialAssessment")";

		});
	});
</script>
