@model PreNat.ViewModels.ImmunizationsListingViewModel
@{
    ViewBag.Title = "_Listing";
}


<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model.Immunizationss.Count() != 0)
        {
            <div class="card">

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>

                                <td>TetanusDiphtheriaNo</td>
                                <td>TetanusDiphtheriaYesPrevPreg</td>
                                <td>TetanusDiphtheriaYesDuringPreg</td>
                                <td>TetanusDiphtheria_Date</td>
                                <td>TetanusDiphtheria_Dozes</td>

                                <td>TdapNo</td>
                                <td>TdapYesPrevPreg</td>
                                <td>TdapYesDuringPreg</td>
                                <td>Tdap_Date</td>
                                <td>Tdap_Dozes</td>

                                <td>InfluenzaNo</td>
                                <td>InfluenzaYesPrevPreg</td>
                                <td>InfluenzaYesDuringPreg</td>
                                <td>Influenza_Date</td>
                                <td>Influenza_Dozes</td>

                                <td>RubellaNo</td>
                                <td>RubellaYesPrevPreg</td>
                                <td>RubellaYesDuringPreg</td>
                                <td>Rubella_Date</td>
                                <td>Rubella_Dozes</td>

                                <td>Hepatitis_ANo</td>
                                <td>Hepatitis_AYesPrevPreg</td>
                                <td>Hepatitis_AYesDuringPreg</td>
                                <td>Hepatitis_A_Date</td>
                                <td>Hepatitis_A_Dozes</td>

                                <td>Hepatitis_BNo</td>
                                <td>Hepatitis_BYesPrevPreg</td>
                                <td>Hepatitis_BYesDuringPreg</td>
                                <td>Hepatitis_B_Date</td>
                                <td>Hepatitis_B_Dozes</td>


                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Immunizationss)
                            {
                            <tr>

                                <td>@item.TetanusDiphtheriaNo</td>
                                <td>@item.TetanusDiphtheriaYesPrevPreg</td>
                                <td>@item.TetanusDiphtheriaYesDuringPreg</td>
                                <td>@item.TetanusDiphtheria_Date</td>
                                <td>@item.TetanusDiphtheria_Dozes</td>

                                <td>@item.TdapNo</td>
                                <td>@item.TdapYesPrevPreg</td>
                                <td>@item.TdapYesDuringPreg</td>
                                <td>@item.Tdap_Date</td>
                                <td>@item.Tdap_Dozes</td>

                                <td>@item.InfluenzaNo</td>
                                <td>@item.InfluenzaYesPrevPreg</td>
                                <td>@item.InfluenzaYesDuringPreg</td>
                                <td>@item.Influenza_Date</td>
                                <td>@item.Influenza_Dozes</td>

                                <td>@item.RubellaNo</td>
                                <td>@item.RubellaYesPrevPreg</td>
                                <td>@item.RubellaYesDuringPreg</td>
                                <td>@item.Rubella_Date</td>
                                <td>@item.Rubella_Dozes</td>

                                <td>@item.Hepatitis_ANo</td>
                                <td>@item.Hepatitis_AYesPrevPreg</td>
                                <td>@item.Hepatitis_AYesDuringPreg</td>
                                <td>@item.Hepatitis_A_Date</td>
                                <td>@item.Hepatitis_A_Dozes</td>

                                <td>@item.Hepatitis_BNo</td>
                                <td>@item.Hepatitis_BYesPrevPreg</td>
                                <td>@item.Hepatitis_BYesDuringPreg</td>
                                <td>@item.Hepatitis_B_Date</td>
                                <td>@item.Hepatitis_B_Dozes</td>




                                <td>
                                    <a href="@Url.Action("Action", "Immunizations", new {ID=item.ID })" class="btnEdit btn btn-info btn-icon-text"><i class="mdi mdi-pencil"></i> EDIT</a>
                                    <button data-href="@Url.Action("Delete", "Immunizations", new { ID = item.ID })" type="button" data-bs-toggle="modal" data-bs-target="#actionModal" class="data-btn btn btn-danger btn-icon-text"><i class="mdi mdi-delete"></i>DELETE</button>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<script>
    $(".btnEdit").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "Immunizations")',
            type: "GET",
            data: {ID: $(this).attr("data-id") }
        })
            .done(function (oData) {
                $("#actionContainer").html(oData);
            })
            .error(function (error) {
                alert(error);
            })
    })


</script>
