@model PreNat.ViewModels.ImmunizationsActionViewModel

@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Immunizations</span>
                }
                else
                {
                    <span>Save Immunizations</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tetanus Diphtheria No</label>
                            <input required class="form-control" id="TetanusDiphtheriaNo" value="@Model.TetanusDiphtheriaNo" name="TetanusDiphtheriaNo" placeholder="Enter TetanusDiphtheriaNo">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tetanus Diphtheria Yes - Previous Pregnancy</label>
                            <input required class="form-control" id="TetanusDiphtheriaYesPrevPreg" value="@Model.TetanusDiphtheriaYesPrevPreg" name="TetanusDiphtheriaYesPrevPreg" placeholder="Enter TetanusDiphtheriaYesPrevPreg">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tetanus Diphtheria Yes - During Pregnancy</label>
                            <input required class="form-control" id="TetanusDiphtheriaYesDuringPreg" value="@Model.TetanusDiphtheriaYesDuringPreg" name="TetanusDiphtheriaYesDuringPreg" placeholder="Enter TetanusDiphtheriaYesDuringPreg">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tetanus Diphtheria Date</label>
                            <input required class="form-control" type="date" id="TetanusDiphtheria_Date" value="@Model.TetanusDiphtheria_Date" name="TetanusDiphtheria_Date" placeholder="Enter TetanusDiphtheria_Date">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tetanus Diphtheria Dozes</label>
                            <input required class="form-control" type="number" id="TetanusDiphtheria_Dozes" value="@Model.TetanusDiphtheria_Dozes" name="TetanusDiphtheria_Dozes" placeholder="Enter TetanusDiphtheria_Dozes">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tdap No</label>
                            <input required class="form-control" id="TdapNo" value="@Model.TdapNo" name="TdapNo" placeholder="Enter TdapNo">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tdap Yes - Previous Pregnancy</label>
                            <input required class="form-control" id="TdapYesPrevPreg" value="@Model.TdapYesPrevPreg" name="TdapYesPrevPreg" placeholder="Enter TdapYesPrevPreg">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tdap Yes - During Pregnancy</label>
                            <input required class="form-control" id="TdapYesDuringPreg" value="@Model.TdapYesDuringPreg" name="TdapYesDuringPreg" placeholder="Enter TdapYesDuringPreg">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tdap Date</label>
                            <input required class="form-control" id="Tdap_Date" value="@Model.Tdap_Date" name="Tdap_Date" placeholder="Enter Tdap Date">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Tdap Dozes</label>
                            <input required class="form-control" id="Tdap_Dozes" value="@Model.Tdap_Dozes" name="Tdap_Dozes" placeholder="Enter Tdap Dozes">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Influenza No</label>
                            <input required class="form-control" id="InfluenzaNo" value="@Model.InfluenzaNo" name="InfluenzaNo" placeholder="Enter Influenza No">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Influenza Yes Previous Pregnancy</label>
                            <input required class="form-control" id="InfluenzaYesPrevPreg" value="@Model.InfluenzaYesPrevPreg" name="InfluenzaYesPrevPreg" placeholder="Enter Influenza Yes Previous Pregnancy">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Influenza Yes During Pregnancy</label>
                            <input required class="form-control" id="InfluenzaYesDuringPreg" value="@Model.InfluenzaYesDuringPreg" name="InfluenzaYesDuringPreg" placeholder="Enter Influenza Yes During Pregnancy">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Influenza Date</label>
                            <input required class="form-control" id="Influenza_Date" value="@Model.Influenza_Date" name="Influenza_Date" placeholder="Enter Influenza Date">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Influenza Dozes</label>
                            <input required class="form-control" id="Influenza_Dozes" value="@Model.Influenza_Dozes" name="Influenza_Dozes" placeholder="Enter Influenza Dozes">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Rubella No</label>
                            <input required class="form-control" id="RubellaNo" value="@Model.RubellaNo" name="RubellaNo" placeholder="Enter Rubella No">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Rubella Yes Previous Pregnancy</label>
                            <input required class="form-control" id="RubellaYesPrevPreg" value="@Model.RubellaYesPrevPreg" name="RubellaYesPrevPreg" placeholder="Enter Rubella Yes Previous Pregnancy">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Rubella Yes During Pregnancy</label>
                            <input required class="form-control" id="RubellaYesDuringPreg" value="@Model.RubellaYesDuringPreg" name="RubellaYesDuringPreg" placeholder="Enter Rubella Yes During Pregnancy">
                        </div>
                        <div class="form-group col-md-5">
                            <input required class="form-control" id="Rubella_Date" name="Rubella_Date" type="date" value="@Model.Rubella_Date.ToString("yyyy-MM-dd")" placeholder="Enter Rubella Date">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Rubella Dozes</label>
                            <input required class="form-control" id="Rubella_Dozes" name="Rubella_Dozes" type="number" min="0" max="10" value="@Model.Rubella_Dozes" placeholder="Enter Rubella Dozes">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis A No</label>
                            <input required class="form-control" id="Hepatitis_ANo" name="Hepatitis_ANo" value="@Model.Hepatitis_ANo" placeholder="Enter Hepatitis A No">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis A Yes Prev Preg</label>
                            <input required class="form-control" id="Hepatitis_AYesPrevPreg" name="Hepatitis_AYesPrevPreg" value="@Model.Hepatitis_AYesPrevPreg" placeholder="Enter Hepatitis A Yes Prev Preg">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis A Yes During Preg</label>
                            <input required class="form-control" id="Hepatitis_AYesDuringPreg" name="Hepatitis_AYesDuringPreg" value="@Model.Hepatitis_AYesDuringPreg" placeholder="Enter Hepatitis A Yes During Preg">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis A Date</label>
                            <input required class="form-control" id="Hepatitis_A_Date" name="Hepatitis_A_Date" type="date" value="@Model.Hepatitis_A_Date.ToString("yyyy-MM-dd")" placeholder="Enter Hepatitis A Date">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis A Dozes</label>
                            <input required class="form-control" id="Hepatitis_A_Dozes" name="Hepatitis_A_Dozes" type="number" min="0" max="10" value="@Model.Hepatitis_A_Dozes" placeholder="Enter Hepatitis A Dozes">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis B No</label>
                            <input required class="form-control" id="Hepatitis_BNo" name="Hepatitis_BNo" value="@Model.Hepatitis_BNo" placeholder="Enter Hepatitis B No">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis B Yes Prev Preg</label>
                            <input required class="form-control" id="Hepatitis_BYesPrevPreg" name="Hepatitis_BYesPrevPreg" value="@Model.Hepatitis_BYesPrevPreg" placeholder="Enter Hepatitis B Yes Prev Preg">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis B Yes During Preg</label>
                            <input required class="form-control" id="Hepatitis_BYesDuringPreg" name="Hepatitis_BYesDuringPreg" value="@Model.Hepatitis_BYesDuringPreg" placeholder="Enter Hepatitis B Yes During Preg">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis B Date</label>
                            <input required class="form-control" id="Hepatitis_B_Date" value="@Model.Hepatitis_B_Date.ToString("yyyy-MM-dd")" name="Hepatitis_B_Date" type="date" placeholder="Enter Hepatitis B Date">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Hepatitis B Dozes</label>
                            <input required class="form-control" id="Hepatitis_B_Dozes" value="@Model.Hepatitis_B_Dozes" name="Hepatitis_B_Dozes" placeholder="Enter Hepatitis B Dozes">
                        </div>


                    </div>
                    </div>        
                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("Index","Immunizations")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>






    <div class="errorDiv">

    </div>

}


<script>
    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "Immunizations")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("Index","Immunizations")";

		});
	});
</script>
