@model PreNat.ViewModels.ObstetrichistoryActionViewModel

@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Obstetrichistory</span>
                }
                else
                {
                    <span>Save Obstetrichistory</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Gestation</label>
                            <input required class="form-control" id="Gestation" value="@Model.Gestation" name="Gestation" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">NoOfPregnancy</label>
                            <input required class="form-control" id="NoOfPregnancy" value="@Model.NoOfPregnancy" name="NoOfPregnancy" placeholder="Enter Name">
                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Delivery</label>
                            <input required class="form-control" id="Delivery" value="@Model.Delivery" name="Delivery" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Term</label>
                            <input required class="form-control" id="Term" value="@Model.Term" name="Term" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Preterm</label>
                            <input required class="form-control" id="Preterm" value="@Model.Preterm" name="Preterm" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Vaginal</label>
                            <input required class="form-control" id="Vaginal" value="@Model.Vaginal" name="Vaginal" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Cesareas</label>
                            <input required class="form-control" id="Cesareas" value="@Model.Cesareas" name="Cesareas" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Obitus</label>
                            <input required class="form-control" id="Obitus" value="@Model.Obitus" name="Obitus" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Abortions</label>
                            <input required class="form-control" id="Abortions" value="@Model.Abortions" name="Abortions" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Gemerales</label>
                            <input required class="form-control" id="Gemerales" value="@Model.Gemerales" name="Gemerales" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Ectopic</label>
                            <input required class="form-control" id="Ectopic" value="@Model.Ectopic" name="Ectopic" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Obstetrichistory</label>
                            <input required class="form-control" id="Molas" value="@Model.Molas" name="Molas" placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Live_Births</label>
                            <input required class="form-control" id="Live_Births" value="@Model.Live_Births" name="Live_Births" placeholder="Enter Name">
                        </div>



                    </div>
                </div>        
                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("Index","Obstetrichistory")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>






    <div class="errorDiv">

    </div>

}


<script>
    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "Obstetrichistory")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("Index","Obstetrichistory")";

		});
	});
</script>
